= section_table(t('mails.mailboxes.inbox'), @mails) do |m|

  %td
    = m.subject
  %td
    = m.sender
  %td
    = m.date
  %td

    = link_to t('mails.mailboxes.spam'),
            mailing_lists_mail_move_path(mail_mailbox: m.mailbox, uid: m.uid, move_to: 'SPAMMING'),
            class: 'action',
            title: t("mails.move_spam"),
            data: { method: :patch }

    = link_to t('mails.mailboxes.failed'),
        mailing_lists_mail_move_path(mail_mailbox: m.mailbox, uid: m.uid, move_to: 'FAILED'),
        class: 'action',
        title: t("mails.move_failed"),
        data: { method: :patch }

    = link_to icon(:'trash-alt', filled: false),
            '',
            class: 'action',
            title: ti(:"link.delete"),
            alt: ti(:"link.delete"),
            data: { confirm: ti(:confirm_delete),
                    method: :delete,
                   }
